<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://thymeleaf.org/"
		xmlns:layout="htpp://utraq.net.nz/thymeleaf/layout/"
		layout:decorator="LayoutPadrao">

<th:block layout:fragment="content">

	<form action="" class="form-group text-center"> 
		<a th:href="@{/permissao/nova}" class="btn btn-primary">Nova permissão</a>
	</form>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Permissao</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="permissao : ${listaPermissao}">
				<td th:text="${permissao.codigo}"></td>
				<td th:text="${permissao.nome}"></td>
				<td>
					<form th:action="@{/permissao/{codigo}(codigo = ${permissao.codigo})}" th:method="delete">
						<button class="btn btn-danger">Excluir</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	
</th:block>
</html>