<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://thymeleaf.org/"
		xmlns:layout="htpp://utraq.net.nz/thymeleaf/layout/"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- <nav class="nav flex-column" sec:authorized="isAuthenticated()"> -->
<!--   <a class="nav-link active" href="#">Active</a> -->
<!--   <a class="nav-link" href="#">Link</a> -->
<!--   <a class="nav-link" href="#">Link</a> -->
<!--   <a class="nav-link disabled" href="#">Disabled</a> -->
<!-- </nav> -->

</html>