<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://thymeleaf.org/"
		xmlns:layout="htpp://utraq.net.nz/thymeleaf/layout/"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		layout:decorator="LayoutPadrao">

<th:block layout:fragment="content">
	
	<div class="col-xs-12 col-md-12">
		<div class="card">
			<div class="card-header">
				<span th:text="${ticket.titulo}"></span>			
			</div>
			<div class="card-block">
				<ul class="inline">
					<li>
						Titulo: 
						<span th:text="${ticket.titulo}"></span>
					</li>
					<li>
						Descrição: 
						<span th:text="${ticket.descricao}"></span>
					</li>
					<li>
						Data criação:
						<span th:text="${ticket.inicio}"></span>
					</li>
					<li>
						Criado por: 
						<span th:text="${ticket.usuario.nome}"></span>
					</li>
					<li>
						Tecnico: 
						<span th:text="${ticket.tecnico.nome}"></span>
					</li>
					<li>
						Finalizado: 
						<div class="inline" th:switch="${ticket.finalizado}">
							<span class="badge badge-success" th:case="${true}" th:text="${ticket.finalizado}"></span>
							<span class="badge badge-danger" th:case="${false}" th:text="${ticket.finalizado}"></span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<a href="/tickets" class="btn btn-secondary">Voltar</a>
	</div>
	<div class="col-xs-12 col-md-12">
		<hr />
		<h2>Interacao</h2>
		<form th:action="@{/tickets/{codigo_ticket}/interacoes(codigo_ticket = ${ticket.codigo})}" th:object="${interacao}" th:method="post">
			<div class="form-group">
				<input type="text" disabled="disabled" th:value="${#authentication.name}" class="form-control" />
			</div>
			<div class="form-group">
				<textarea th:field="*{texto}" placeholder="Digite seu texto" rows="4" class="form-control"></textarea>
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn btn-success">Salvar</button>
			</div>
		</form>
	</div>
	
	<div class="col-xs-12 col-md-12">
		<hr />
		<h2>Lista de interações</h2>
		<hr />
	</div>
	<div class="col-xs-12 col-md-12" th:each="interact : ${interacoes}">
		<div class="col-xs-10 col-md-10">
			<strong th:text="${interact.usuario_interacao.email} + ' coments: ' "></strong>
			<p th:text="${interact.texto}"></p>
		</div>
		<div class="col-xs-2 col-md-2">
			<form th:action="@{/tickets/{codigo_ticket}/interacoes/{codigo}(codigo_ticket = ${ticket.codigo}, codigo = ${interact.codigo})}" th:method="delete">
				<button type="submit" class="btn btn-danger">Deletar</button>
			</form>
		</div>
	</div>

</th:block>
</html>